<template>
  <div class="friendlist">
    <v-container  class="my-5">
      <h1>Friend List</h1>
    
    <v-layout>
      <!--
      <v-flex>
        <v-tooltip top>
          <v-btn small flat color="grey" @click="sortBy('name')" slot="activator">
          <v-icon>sort</v-icon>
          <span calss="caption text-lowercase">By Name</span>
        </v-btn>
        <span>Sort friends by name</span>
        </v-tooltip>
      </v-flex>
      -->
      <v-flex>
        <v-text-field label="Search For Trainers" v-model="filter_name"></v-text-field>
      </v-flex>
    </v-layout>

    <v-card flat v-for="friend in filteredName" :key="friend.friend_code">
      <v-layout row wrap :class="`pa-3 friend ${friend.team.toLowerCase()}`">
        <v-flex xs6 md3>
          <div class="caption grey--text">Name</div>
          <div> {{ friend.name }}</div>
        </v-flex>

        <v-flex xs6 md3>
          <div v-if="friend.real_name" class="caption grey--text">Real Name</div>
          <div v-if="friend.real_name"> {{ friend.real_name }}</div>
        </v-flex>

        <v-flex xs12 md6>
          <div class="caption grey--text">Friend Code</div>
          <div> {{ friend.friend_code }}</div>
        </v-flex>
        
      </v-layout>
      <v-divider></v-divider>
   

    </v-card>
    </v-container>


  </div>
</template>

<script>
import happy_pmgo_friend from "./../../info/friendlist.json"
export default {
  data() {
    return {
      filter_name: "",
      friends: happy_pmgo_friend
    }
  },
  mounted: function() {
    this.sortBy("name")
  },
  methods: {
    sortBy(prop) {
      this.friends.sort((a, b) => a[prop] < b[prop]? -1 : 1)
    }
  },
  computed: {
    filteredName: function() {
      let filter_name = this.filter_name.toLowerCase();
      return (this.filter_name.trim() !== '') ? 
              this.friends.filter(function(d) {
                return d.name.toLowerCase().indexOf(filter_name) > -1 || d.real_name.toLowerCase().indexOf(filter_name) > -1;
              }) : this.friends;
    }
  }
}
</script>

<style>
  .friend {
    border-left: 4px solid #C8E6C9;
  }
  .friend.valor{
    border-left: 4px solid #FFCDD2;
  }
  .friend.mystic{
    border-left: 4px solid #B3E5FC;
  }
  .friend.instinct{
    border-left: 4px solid #FFE0B2;
  }
  

</style>

