<template>
  <div class="gyms">
    <v-container class="my-5">


      <v-layout>
        <div class="pa-3">
          <h1>Gyms in Durham</h1>
        </div>
      </v-layout>

      <v-layout>
          <v-menu bottom left offset-x :close-on-content-click="false">
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>

            <v-card class="pa-3">
              <v-checkbox v-model="show_ex" class="mx-2" label="Hide non-ex Gym"></v-checkbox>
            </v-card>
          </v-menu>
          <v-text-field label="Search For Gyms" placeholder="Enter keywords of gyms" v-model="filter_name"></v-text-field>
      </v-layout>

      <!--

      <v-list three-line>
        <div v-for="gym in filteredName" :key="gym.id" :class="`pa-3 gym ${gym.is_EX_gym}`">
          <v-list-tile-title> {{gym.name}} </v-list-tile-title>
          <v-list-tile-sub-title> Area: {{gym.area}} </v-list-tile-sub-title>
          <v-list-tile-sub-title>
             <span><a v-bind:href="getGoogleAddress(gym)">Google map</a></span> | <span><a v-bind:href="getAppleAddress(gym)">Apple map</a></span>
          </v-list-tile-sub-title>
        </div>


      </v-list>
      -->
      
       <v-card flat v-for="gym in filteredName" :key="gym.id">
        <v-layout row wrap :class="`pa-3 gym ${gym.is_EX_gym}`" v-if="(!show_ex) || (gym.is_EX_gym)">
          <v-flex xs8 sm7 md4>
            <div class="caption grey--text">Gym name</div>
            <div> {{gym.name}} </div>
          </v-flex>
          <v-flex xs4 sm5 md2>
            <div class="caption grey--text">Area</div>
            <div> {{gym.area}} </div>
          </v-flex>
          <v-flex xs12 sm7 md3>
            <div class="caption grey--text">Coordinate</div>
            <div> <span class="tag-read" v-bind:data-clipboard-text="getGPS(gym)" 
                        @click="copyText">{{ getGPS(gym) }}</span> </div>
          </v-flex>
          <v-flex xs12 sm5 md3>
            <div>
              <div class="caption grey--text">Get Direction</div>
              <div><span><a v-bind:href="getGoogleAddress(gym)">Google map</a></span> | <span><a v-bind:href="GetAppleAddress(gym)">Apple map</a></span></div>
            </div>
          </v-flex>
        </v-layout>
        <v-divider v-if="(!show_ex) || (gym.is_EX_gym)"></v-divider>
      </v-card>

    </v-container>
  </div>
</template>

<script>
import all from "./../../info/555877915284340753.json"
import Clipboard from 'clipboard';
export default {
  data() {
    return {
      gyms: all.gyms,
      filter_name: "",
      show_ex: false
    }
  },
  mounted: function() {
    this.sortBy("name")
  },
  methods: {
    getGoogleAddress: function(gym) {
      let link = "https://www.google.com/maps/dir/Current+Location/" + gym.lat + "," + gym.lon
      return link
    },
    GetAppleAddress: function(gym) {
      let link = "http://maps.apple.com/maps?daddr=" + gym.lat + "," + gym.lon
      return link
    },
    getGPS:function(prop) {
      let GPS = prop.lat + ", " + prop.lon
      return GPS
    },
    sortBy(prop) {
      this.gyms.sort((a, b) => a[prop] < b[prop] ? -1 : 1)
    },
    copyText: function(){
      let clipboard = new Clipboard('.tag-read');
      clipboard.on('success', function () {
        clipboard.destroy()
      })
    }
  },
  computed: {
    filteredName: function() {
      let filter_name = this.filter_name.toLowerCase();
      return (this.filter_name.trim() !== '') ?
        this.gyms.filter(function(d) {
          return d.name.toLowerCase().indexOf(filter_name) > -1;
        }) : this.gyms;
    }
  }
}

</script>

<style>
.gym.true{
  border-left: 4px solid #FFE082;
}

.gym.false{
  border-left: 4px solid #C5CAE9;
}

</style>

