<template>
  <div class="home">
    <v-container class="my-5">
      <h1>Bull City Pokemon Go</h1>
        <v-layout row wrap>
          <v-flex xs12 sm6 md3 v-for="page in pages" :key="page.name">
            <v-card flat class="text-xs-center ma-3">
              <v-responsive class="pt-4">
                <v-avatar size=100 tile>
                  <img :src="page.img">
                </v-avatar>
              </v-responsive>
            <v-card-text>
              <div class="subheading"><a @click="toPage(page.link)">{{page.name}}</a></div>
            </v-card-text>
          </v-card>
          </v-flex>
            </v-layout>
        <v-layout>
        </v-layout>
            <v-layout pa-3>
              <p class="text-truncate">Our <a href="https://discord.gg/tthwcsW">discord channel</a> | Our <a href="https://groupme.com/join_group/31953468/iT8riq">GroupMe Channel</a></p>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            pages: [
                {name: "Gyms List", link: "./gymlist", img: "./gym.png"},
                {name: "Poke stops", link: "./pokestop", img: "./stop.png"},
                {name: "Nests List", link: "./nest", img: "./nest.png"},
                {name: "Friend List", link: "./friendlist", img: "./friend.png"}
            ]
        }
    },
    methods: {
      toPage(link) {
        this.$router.push({path: link})
      }
    }
}
</script>

