<template>
  <div class="nest">
    <v-container class="my-5">
      <v-layout row class="mb-3">
        <h1>Nests in Durham</h1>
      </v-layout>

        <v-layout>
          <v-menu bottom left offset-x :close-on-content-click="false">
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>

            <v-card class="pa-3">
              <v-checkbox v-model="showUnown" class="mx-2" label="Show Unknown Nest"></v-checkbox>
            </v-card>
          </v-menu>
          <v-text-field label="Search For Nest/species" placeholder="Enter keywords..." v-model="filter_name"></v-text-field>
      </v-layout>

      <!--
      
      <v-card flat v-for="nest in filteredName" :key="nest.name">
        <v-layout v-if="(nest.species) || (showUnown)" row wrap :class="`pa-2 durham-nest ${nest.spawn_rate.toLowerCase()}`">
          <v-flex>
            <div class="d-none d-md-block">
              <v-avatar>
                <v-img v-if="nest.species" :src="getPkmnImage(nest.species)"></v-img>
              </v-avatar>
            </div>
          </v-flex>

          <v-flex>
            <div>Here should be a div, <span> {{nest.species}} </span></div>
          </v-flex>

        </v-layout>
      </v-card>
      
      -->

      <v-list three-line>
        <div v-for="nest in filteredName" :key="nest.name" :class="`durham-nest ${nest.spawn_rate.toLowerCase()}`">

        <div class="hidden-sm-and-down">
        <v-list-tile v-if="(nest.species) || (showUnown)">
          <v-list-tile-avatar tile>
            <v-img v-if="nest.species" :src="getPkmnImage(nest.species)"></v-img>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{ nest.species ? nest.species : "Unknown"}} - 
              <span class="font-weight-light blue-grey--text lighten-1 body-1">Spwan Rate: </span>
              <span class="font-weight-regular blue-grey--text lighten-1 body-1"> {{ nest.spawn_rate ? nest.spawn_rate : "Unknown"}} </span>
            </v-list-tile-title>
            <v-list-tile-sub-title> Nest Name: {{nest.name}} </v-list-tile-sub-title>
            <v-list-tile-sub-title> Nest Address: {{nest.address}} </v-list-tile-sub-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <v-list-tile-action-text>Directions</v-list-tile-action-text>
            <v-list-tile-action-text> 
              <span><a v-bind:href="get_google_address(nest)">Google map</a></span> 
            </v-list-tile-action-text>
            <v-list-tile-action-text> 
              <span><a v-bind:href="get_apple_address(nest)">Apple map</a></span>
            </v-list-tile-action-text>
           </v-list-tile-action>

        </v-list-tile>
        </div>

        <div class="hidden-md-and-up">
          <v-list-tile v-if="(nest.species) || (showUnown)">
          <v-list-tile-avatar tile>
            <v-img v-if="nest.species" :src="getPkmnImage(nest.species)"></v-img>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>
              <span class="font-weight-light blue-grey--text lighten-1 body-1">Spwan Rate: </span>
              <span class="font-weight-regular blue-grey--text lighten-1 body-1"> {{ nest.spawn_rate ? nest.spawn_rate : "Unknown"}} </span>
            </v-list-tile-title>
            <v-list-tile-sub-title> Nest Name: {{nest.name}} </v-list-tile-sub-title>
            <v-list-tile-sub-title>
              <span>
                <a v-bind:href="get_google_address(nest)">Google map</a>
              </span>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        </div>

        <v-divider v-if="(nest.species) || (showUnown)"></v-divider>
        </div>
      </v-list>

    </v-container>
  </div>
</template>

<script>
import nestdata from "../../info/nest.json";
import all from "../../info/pkmn.json";
const _ = require('underscore');
const fuzz = require('fuzzball');

export default {
  data() {
    return {
      showUnown: false,
      filter_name: "",
      nests: nestdata,
      pkmnID: all.pokemon_list,
      imgsrc: "./friend.png"
      }
    },
    mounted: function() {
      this.sortBy("name")
    },
    methods: {
      get_google_address: function(gym) {
        let link = "https://www.google.com/maps/dir/Current+Location/" + gym.latitude + "," + gym.langitude
        return link
      },
      get_apple_address: function(gym) {
        let link = "http://maps.apple.com/maps?daddr=" + gym.latitude + "," + gym.langitude
        return link
      },
      sortBy(prop){
        this.nests.sort((a, b) => a[prop] < b[prop] ? -1 : 1)
      },
      getPkmnImage: function(pkmnName) {
        pkmnName = pkmnName.toLowerCase();
        let results = fuzz.extract(pkmnName, this.pkmnID);
        let currentID = _.indexOf(this.pkmnID, results[0][0]) + 1;
        return (`./shuffle/${this.padLeft(currentID, 3)}.png`)
      },
      padLeft: function(nr, n, padding) {
        return Array(n-String(nr).length+1).join(padding||'0')+nr;
      }
    },
    computed: {
      filteredName: function() {
        let filter_name = this.filter_name.toLowerCase();
        return (this.filter_name.trim() !== '') ?
              this.nests.filter(function(keyword) {
                return keyword.name.toLowerCase().indexOf(filter_name) > -1 || keyword.address.toLowerCase().indexOf(filter_name) > -1 || keyword.species.toLowerCase().indexOf(filter_name) > -1;
              }) : this.nests;
        },
    }
  }
</script>

<style>
.durham-nest{
  border-left: 4px solid #E0E0E0;
}
.durham-nest.low{
  border-left: 4px solid #FFE0B2;
}
.durham-nest.medium{
  border-left: 4px solid #C5E1A5;
}
.durham-nest.high{
  border-left: 4px solid #80DEEA;
}
</style>