<template>
  <div class="pokestop">
      <v-container class="my-5">
        <v-layout class="pa-3">
            <h1>Poke Stops</h1>
        </v-layout>

        <v-layout>
          <!--
          <v-menu bottom left offset-x :close-on-content-click="false">
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>
            <v-card class="pa-3">
            <v-checkbox
               v-for="area in all_area" 
               :key="area"
               v-model="selected_area"
               v-bind:label="area" 
               v-bind:value="area"
               class="display-1"></v-checkbox>
            </v-card>
          </v-menu>
          <v-text-field label="Search For Pokestops" placeholder="Enter keywords of the pokestop" v-model="filter_name"></v-text-field>
          -->
          <v-text-field label="Search For Pokestops" placeholder="Enter keywords of the pokestop" v-model="filter_name"></v-text-field>
          
        </v-layout>

          <v-card flat v-for="pokestop in filteredName" :key="pokestop.id">
            <v-layout row wrap :class="`pa-3 stop ${pokestop.area.replace(' ', '_')}`">
              <v-flex xs6 md3>
                <div class="caption grey--text">Pokestop name</div>
                <div> {{pokestop.name}} </div>
              </v-flex>
              <v-flex xs6 md2>
                <div class="caption grey--text">Area</div>
                <div> {{pokestop.area}} </div>
              </v-flex>

              <v-flex xs12 md3>
                <div class="caption grey--text">Coordinate</div>
                <div>
                  <span> {{getCoordinate(pokestop)}}</span>

                  <v-btn color="grey" 
                         flat icon outline small class="tag-read"
                         v-bind:data-clipboard-text="getCoordinate(pokestop)" 
                         @click="copyText">
                         <v-icon small>file_copy</v-icon>
                  </v-btn>
                  </div>
              </v-flex>
              <v-flex xs12 md4>
                  <div class="caption grey--text">Get Direction</div>
                  <div><span><a v-bind:href="getGoogleAddress(pokestop)">Google map</a></span> | <span><a v-bind:href="getAppleAddress(pokestop)">Apple map</a></span></div>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-card>
      </v-container>
  </div>

</template>

<script >
/* eslint-disable */
import all from "./../../info/555877915284340753.json";
import Clipboard from 'clipboard';

export default {
  data() {
    return {
      pokestops: all.pokestops,
      filter_name: "",
      selected_area: ["Central Durham", "Downtown Durham", "Duke Campus",
                      "East Durham", "Maplewood", "North Durham",
                      "Southwest Durham", "West Durham"],
      all_area: ["Central Durham", "Downtown Durham", "Duke Campus",
                 "East Durham", "Maplewood", "North Durham",
                 "Southwest Durham", "West Durham"]
    }
  },
  mounted: function() {
    this.sortBy("area")
  },
  methods: {
    getGoogleAddress: function(prop) {
      let link = "https://www.google.com/maps/dir/Current+Location/" + prop.lat + "," + prop.lon;
      return link
    },
    getAppleAddress: function(prop) {
      let link = "http://maps.apple.com/maps?daddr=" + prop.lat + "," + prop.lon;
      return link
    },
    getCoordinate: function(prop) {
      let cor = prop.lat + ", " + prop.lon;
      return (cor)
    },
    sortBy(prop) {
      this.pokestops.sort((a, b) => a[prop] < b[prop] ? -1 : 1)
    },
    copyText: function(){
      let clipboard = new Clipboard('.tag-read');
      clipboard.on('success', function () {
        clipboard.destroy()
      })
    }
  },
  computed: {
    filteredName: function() {
      /*
      let areaFilter = [];
      for (let i = 0; i < this.pokestops.length; i++) {
        if (this.selected_area.includes(this.pokestops[i].area)) {
          areaFilter.push(this.pokestops[i])
        }
      };
      let filter_name = this.filter_name.toLowerCase();
      */
     let filter_name = this.filter_name.toLowerCase();
      return (this.filter_name.trim() !== '') ?
        this.pokestops.filter(function(d) {
          return d.name.toLowerCase().indexOf(filter_name) > -1;
        }) : this.pokestops;
    }
  }
} </script>

<style>
.stop.Central_Durham{
  border-left: 4px solid #FFCDD2;
}
.stop.Downtown_Durham{
  border-left: 4px solid #FFE0B2;
}
.stop.Duke_Campus{
  border-left: 4px solid #FFECB3;
}
.stop.East_Durham{
  border-left: 4px solid #F0F4C3;
}
.stop.Maplewood{
  border-left: 4px solid #C8E6C9;
}
.stop.North_Durham{
  border-left: 4px solid #B3E5FC;
}
.stop.Southwest_Durham{
  border-left: 4px solid #BBDEFB;
}
.stop.West_Durham{
  border-left: 4px solid #D1C4E9;
}
</style>
