<template>
    <nav>
        <v-toolbar flat app>
            <v-toolbar-side-icon class="gray--text" @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>
                <span>Bull City </span>
                <span class="font-weight-light">PoGo</span>
            </v-toolbar-title>
        </v-toolbar>

        <v-navigation-drawer v-model="drawer" app class="blue-grey lighten-5">
            <v-list>
                <v-list-tile v-for="link in links" :key="link.text" route :to="link.route">
                    <v-list-tile-action>
                        <v-icon class="white--text"> {{link.icon}}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{link.text}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

    
    </nav>
    
</template>

<script>

export default {
    data(){
        return {
            drawer: false,
            links: [
                { icon: "homepage", text: "Homepage", route: "/"},
                { icon: "info", text: "Gyms in Durham", route: "/gymlist"},
                { icon: "info", text: "Nest List", route: "/nest"},
                { icon: "cached", text: "Poke Stop", route: "/pokestop"},
                { icon: "face", text: "Make more friends!", route: "/friendlist"}
                
            ]
        }
    }
}
</script>

